aiohappyeyeballs
aiohttp
aiohttp-retry
aiosignal
asgiref
attrs
certifi
chardet
charset-normalizer
click
Django
django-channels
frozenlist
gunicorn
idna
multidict
numpy
oauthlib
opencv-python
pandas
pillow
propcache
PyJWT
PyMuPDF
PyPDF2
python-dateutil
pytube
pytz
reportlab
requests
requests-oauthlib
setuptools
six
sqlparse
twilio
tzdata
urllib3
yarl
whitenoise
